.footer{
	background: #181d21;
	&__text {
		font-size: 12px;
		font-weight: 600;
		line-height: 1.17;
		color: #8790ab;
	}
	.container {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 30px 40px;
	}
	&__socials {
		display: flex;
		justify-content: space-between;
		&_item {
			width: 24px;
			height: 24px;
			margin: 0 7px;
			transition: 0.1s;
			&:hover {
				transform: scale(1.05);
			}
			img {
				display: block;
				width: 100%;
			}
		}
	}
}