.thank-you-page {
    background: url(img/CS_bg_2.jpg);
    background-position: center top;
    background-size: cover;

    main {
        // padding-top: 50px;
        min-height: calc(100% - 60px);
        display: flex;
        align-items: center;
        .container {
        	width: 100%;
        }
    }
    .header {
        position: absolute;
        top: 30px;
        padding: 0 106px;
    }
    .thx-title {
        font-size: 72px;
        font-weight: 900;
        line-height: 1.11;
        text-align: center;
        color: #ffffff;
    }
    .thx-subtitle {
        font-size: 24px;
        line-height: 1.58;
        text-align: center;
        color: #c9ccd0;
        margin-top: 25px;
        b {
            color: #fff;
        }
    }
    .thx-more {
        font-size: 34px;
        text-align: center;
        color: #ffffff;
        font-weight: 800;
        margin: 74px 0 20px;
    }
    .thx-steps {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__item {
            font-size: 24px;
            line-height: 1.58;
            color: #c9ccd0;
            align-items: center;
            display: flex;
            margin: 0 20px;
            &:first-child {
            	margin-left: 0;
            }
            &:last-child {
            	margin-right: 0;
            }
            img {
                width: 65px;
                height: 65px;
                margin-right: 10px;
            }
        }
    }
    .thx-btn {
        width: 208px;
        height: 40px;
        margin: 20px auto 30px;
        display: block;
        background: none;
        border-radius: 10px;
        border: solid 3px #1991eb;
        font-family: ProximaNova;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        outline: none;
        transition: 0.2s;
        &:active {
            transform: translateY(1px);
        }
        &:hover {
            background: #1991eb;
        }
    }
    .footer {
        background: none;
        .container {
            height: 60px;
        }
    }

    @media screen and (max-width: 1280px) {
    	main {
    		display: block;
    		min-height: calc(100% - 172px - 60px);
    	}
        .header {
            position: static;
            padding: 20px 0;
        }
        .thx-title {
            font-size: 48px;
            text-align: center;
            color: #ffffff;
            br {
                display: none;
            }
        }
        .thx-subtitle {
            font-size: 18px;
            line-height: 1.33;
            text-align: center;
            color: #c9ccd0;
            br {
                display: none;
            }
        }

        .thx-steps__item {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 980px) {
        .thx-steps {
            padding: 0 60px;
            flex-wrap: wrap;
            &__item {
            	margin: 0 0 20px 0;
            }
        }
    }

    @media screen and (max-width: 680px) {
        .thx-steps {
            padding: 0;
        }
    }
    @media screen and (max-width: 600px) {
    	main {
    		display: block;
    		min-height: calc(100% - 112px - 88px);
    	}
        .header .logo {
            img {
                width: 70px;
            }
        }
        .thx-title {
            font-size: 34px;
            line-height: 1.12;
            text-align: center;
            color: #ffffff;
        }
        .thx-subtitle {
            font-size: 14px;
            line-height: 1.29;
            text-align: center;
            color: #c9ccd0;
        }
        .thx-more {
            font-size: 20px;
            text-align: center;
            color: #ffffff;
            margin: 65px 0 45px;
        }
        .thx-steps__item {
        	font-size: 18px;
        	line-height: 20px;
        	color: #c9ccd0;
        	margin: 0 0 20px 0;
        	img {
        		width: 50px;
        		height: 50px;
        	}
        }
    }
}